.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0;
}

.pagination-container select {
  padding: 5px;
  margin-right: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

.pagination-container select:focus {
  outline: none;
}

.pagination-container span {
  margin: 0 10px;
  font-size: 14px;
  /* color: #ffffff; */
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #4d4d4d;
  cursor: not-allowed;
}
.pagination-button:hover:not(:disabled) {
  background-color: #0056b3;
}
