.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--secondary-background-color);
  border-radius: 20px;
  padding: 50px;
  min-width: 500px;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  input {
    background-color: #0073e600;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    color: var(--text-color);
    outline: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--text-color) !important;
  }
}

/* button {
  padding: 10px;
  min-width: 100px;
  cursor: pointer;
} */
.login-button {
  float: right;
  background-color: var(--button-background);
  padding: 10px 15px 10px 15px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
}

.login-header {
  font-size: 30px;
}
