.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid rgba(61, 71, 81, 0.3);
  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background);
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;

  button {
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    border: none;
  }
  .button-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-text);
    /* color: black; */
  }
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  transition: border-bottom 2s ease,color 2s ease;
  border-bottom: none;
}

.nav-link.active {
  color: #0073e6;
  font-weight: 500;
  border-bottom: 2px solid #0073e6;
}
