.location-inside-container {
  cursor: pointer;
  background-color: var(--background-color);
}

.location-inside-container :hover {
  /* border-radius: 10px; */
  background-color: var(--secondary-background-color);
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  gap: 10px;
  .location-name {
    font-size: 16px;
    font-weight: 600;
  }
  .location-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .location-name::first-letter {
    text-transform: capitalize;
  }
}

.hover {
  background-color: var(--secondary-background-color);
}

.add-location-button {
  font-size: 20px;
  /* font-weight: 600; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.new-location-input-container {
  padding: 5px;
  font-size: 18px;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.705);
  /* border-radius: 5px; */
  outline: none;
  width: 300px;
  width: 100%;
  /* box-sizing: border-box; */
}
