.container {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--background-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.inside-container {
  border: 1px solid rgba(255, 255, 255, 0.699);
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
}
.inside-container:hover {
  background-color: var(--secondary-background-color);
}
.title {
  opacity: 60%;
  color: var(--text-color);
}

.title-value {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
}
